@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    outline: none;
}

:root{
    --color-1: #38026b;
    --color-2: purple;
}

body{
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    background-color: black;
}

input{
    display: block;
}

.wraper{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form{
    min-width: 350px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login{
    background-color: #ffffff;
    border-top-left-radius: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 5px black;
}

.signup{
    color: white;
    background-color: rgb(155, 35, 155);
    border-bottom-right-radius: 30px;
}

input[type=text], input[type=email], input[type=password]{
    height: 35px;
    width: 85%;
    padding: 5px 8px 5px 8px;
    border-radius: 10px;
    border: 1px solid var(--color-2);
    animation: forwards;
    color: var(--color-1);
    font-weight: 500;
    margin-top: 7px;
}

h2{
    margin: 0;
    font-size: 40px;
    font-weight: 400;
}

input:focus{
    border: 2px solid #38026b;
}

input::placeholder{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 14px;
}

input[type=checkbox]{
    display: inline;
}

button.submit-btn{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: white;
    background-image: linear-gradient(to right, rgb(101, 58, 218), purple); 
    border: 1px solid #38026b;
    box-shadow: 1px 1px 5px 1px black;
    border-radius: 30px;
    width: 55%;
    padding: 4px 30px 3px 30px;
}

button.submit-btn:hover{
    cursor: pointer;
}

.default-txt{
    font-weight: 400;
    margin-top: 10px;
}

div.remember-div{
    margin-top: 5px;
    margin-bottom: 5px;
}

a{
    text-decoration: none;
    font-weight: bold;
}

a:hover{
    text-decoration: underline;
}